@tailwind base;
@tailwind components;
@tailwind utilities;

.chart-wrapper {
  width: 100%;
  height: 70vh; /* Adjust this value as needed */
  overflow: auto; /* Enable scrolling if necessary */
  padding: 0; /* Ensure no padding */
}

@media (max-width: 768px) {
  .chart-wrapper {
    height: 50vh; /* Adjust this value for smaller screens */
  }
}

.card {
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}
